<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Relógio</title>
</head>

<body>
<div id="select">
  <div>
    <select name="select">
      <option>Escolha uma opção</option>

        <option *ngFor="let nome of nomes">
          {{nome}}
        </option>

    </select>
  </div>

  <div>
    <br>
    <input type="text" name="busca" placeholder="Insira um item">
    <br>
  </div>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript">
    function limpaCampo(){
      document.getElementById('.limpar').value= '';
      console.log(document.getElementsByName("limpar").value);
    }
  </script>  -->

  <div name="button" class="row">
    <br>
    <button (click)="incluir_dados()">Adicionar</button>
    <button name="remover">Remover</button>
    <button name="limpar" onclick="limpaCampo();">Limpar caixa</button>
  </div>

  <h3>Selecione uma opção</h3>
  <h2>{{nomes}}</h2>
  
</div>

  <script>
  </script>
<div>
  <app-clock-component></app-clock-component>
</div>

</body>

</html>
